<nav class="col-md-2 col-sm-2 d-none d-md-block bg-grey-10 sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column mt-3">
            <li class="nav-item">
                <a class="nav-link fs-11" href="http://localhost:8000/login-for-upload">
                    <i class="fa-fw fas fa-file-export mr-2"></i>
                    Publish
                </a>
            </li>

            <li class="nav-item">
                <span class="ml-3">Published Data</span>
            </li>

            <li class="nav-item">
                <a class="nav-link fs-11 ml-3" href="http://localhost:8000/public/datasets">
                    <i class="fa-fw fas fa-book mr-2"></i>
                    Datasets
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link fs-11 ml-3" href="http://localhost:8000/public/communities">
                    <i class="fa-fw fas fa-users mr-2"></i>
                    Communities
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link fs-11 ml-3" href="http://localhost:8000/public/authors">
                    <i class="fa-fw fas fa-user-friends mr-2"></i>
                    Authors
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link fs-11 ml-3" href="http://localhost:8000/public/tags">
                    <i class="fa-fw fas fa-tags mr-2"></i>
                    Tags
                </a>
            </li>

            <li class="nav-item">
                <span class="ml-3">Special Collections</span>
            </li>

            <li class="nav-item">
                <a class="nav-link fs-11 ml-3" href="http://localhost:8000/public/openvisus/index?tag=OpenVisus">
                    <i class="fa-fw fas fa-cube mr-2"></i> OpenVisus Datasets
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link fs-11 ml-3 active" href="http://localhost:9000">
                    <i class="fa-fw fas fa-atlas mr-2"></i>
                    UHCSDB
                </a>
            </li>
        </ul>
    </div>
</nav>
