{% extends "layout.html" %}
{% block head %}
      <link
       href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css"
       rel="stylesheet" type="text/css">
      <link
       href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.3.min.css"
       rel="stylesheet" type="text/css">

      <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
      <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.3.min.js"></script>
{% endblock %}
{% block body %}
  <div class="bk-root" style="height:750px">
{#      {{ bokeh_script|safe }}#}
    <iframe src="/uhcsapp/visualize" width="100%" height="100%"></iframe>
    </div>
    <div class=page>
      {{ div | safe }}
        <ul>
            <li style="color: #3568E5;" class="bullet-lg"><span class="legend-text">spheroidite</span></li>
            <li style="color: #369DDA;" class="bullet-lg"><span class="legend-text">spheroidite+widmanstatten</span></li>
            <li style="color: #E22727;" class="bullet-lg"><span class="legend-text">martensite</span></li>
            <li style="color: #9B7F9F;" class="bullet-lg"><span class="legend-text">network</span></li>
            <li style="color: #FEB413;" class="bullet-lg"><span class="legend-text">pearlite</span></li>
            <li style="color: #FEE011;" class="bullet-lg"><span class="legend-text">pearlite+spheroidite</span></li>
            <li style="color: #43BF47;" class="bullet-lg"><span class="legend-text">pearlite+widmanstatten</span></li>
        </ul>
{#      <img src='static/legend.png'>#}
{#      <img src='static/metadata_legends.png' style="max-height: 400px; max-width: 400px;">#}
    </div>
  </body>
{% endblock %}
